
/* @font-face { font-family: roboto-regular;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face { font-family: robotoMono-regular;
    src: url('../font/RobotoMono-Regular.ttf');
} */

@font-face { font-family: merryWeather-regular;
    src: url('../font/Merriweather-Regular.ttf');
}

html,
body {
    height: 100%;
    padding: 0;
    border: 0;
}

.block-videoFull {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #0a1844;
}

#mvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.txt_centro {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;

    margin: auto;    
    font-family: 'merryWeather-regular', serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: 10px;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .txt_centro {
        font-size: 1em;
    }
}

.social {
    width: 40px;
    position: fixed;
    right: 2px;
    bottom: 30px;
    z-index: 10;
}

.social img {
    margin-bottom: 5px;
}


.contenedor-horizontal,
.contenedor-vertical {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-vertical {
    flex-direction: column;
}

/*
Fondo: #222831
mas claro: #5686a1
naranja: #ff5722
blanco: #f2f2f2
texto: #53819b
*/


.fondo-pie {
    position: relative;
    max-width: 100%;
    height: 100%;
    top: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("../img/pie/fondo-pie.jpg");
}


.email {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
    background-color: #eee;
    border: none;
    border-radius: 4em;
    width: 400px;
    padding: 10px;
    margin-top: 2em;
}

.caja-email-envia {
    position: relative;
    top: -40px;
    right: -350px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 4em;
    background-color:lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.contacto {
    position: absolute;
    top: 200px;
    right: 50px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

.contacto h3 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: normal;
}

.contacto-item {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.alinea-arriba {
    align-items: flex-start;
}

.contacto-item img {
    width: 50px;
    margin-right: 20px;
    
}

.contacto-item a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .contacto-item {
        font-size: 1.5em;
    }
    .g-maps {
        width: 400px;
        height: 300px;
    }
    .contacto h3 {
        font-size: 2em;
    }
}

.fondo-pie-2 {
    position: relative;
    height: 50px;
    top: 100%;
    background-color: white;
    max-width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.logo-peq {
    width: 25px;
    margin-right: 20px;
}

.logo-texto {
    height: 40px;
}

.flex-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}