@font-face { font-family: fuente-tip;
    src: url('../font/Montserrat-Regular.ttf');
}

.contenedor-horizontal,
.contenedor-vertical {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.contenedor-vertical {
    flex-direction: column;
}

/*
Fondo: #222831
mas claro: #5686a1
naranja: #ff5722
blanco: #f2f2f2
texto: #53819b
*/

.texto-titulo {
    font-family: 'fuente-tip', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #ff5722;
    margin-bottom: 15px;
}

.texto {
    font-family: 'fuente-tip', sans-serif;
    font-size: 1.5em;
    color: inherit;
}

/* .texto li {
    padding-bottom: 1em;
} */


.txt_titulo1,
.txt_titulo2,
.txt_titulo-pie {
    width: 80%;
    margin: auto;    
    font-family: 'fuente-tip', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #ff5722;
}

.txt_titulo1 {
    font-size: 2.5em;
}

.txt_titulo-pie {
    color: white;
    font-size: 2em;
}

@media screen and (max-width: 480px) {
    .txt_titulo2 {
        font-size: 1em;
    }
}

.icono-instagram {
    width: 100px;
    margin-right: 20px;
}

.texto-instagram {
    font-family: 'fuente-tip', sans-serif;
    font-size: 1.5em;
}

.imagen {
    min-width: 240px;
    transition: transform .5s ease-in-out;
}

.imagen:hover {
    transform: scale(1.02);
}

.centrado {
    display: block;
    margin: 2em auto;
    padding: 1em;
}

.mitad{
    display: block;
    width: 50%;
    min-width: 240px;
    flex: 1;
}

.tercio {
    display: block;
    width: 30%;
    flex: 1;
}

@media screen and (max-width: 480px) {
    .tercio, 
    .mitad {
        width: 100%;
    }
}
