
@font-face { font-family: roboto-regular;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face { font-family: robotoMono-regular;
    src: url('../font/RobotoMono-Regular.ttf');
}

@font-face { font-family: merryWeather-regular;
    src: url('../font/Merriweather-Regular.ttf');
}

html,
body {
    height: 100%;
    padding: 0;
    border: 0;
}

.block-videoFull {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #0a1844;
}

#mvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.txt_centro {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;

    margin: auto;    
    font-family: 'merryWeather-regular', serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: 10px;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .txt_centro {
        font-size: 1em;
    }
}


.tarjeta-visita,
.cartel,
.flyer,
.digital,
.pegatina {
    top: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* height: 100%; */
}

.tarjeta-visita {
    background-image: url("../img/TarjetaVisita.jpg");
}

.cartel {
    background-image: url("../img/cartel.jpg");
}

.flyer {
    background-image: url("../img/flyers.jpg");
}

.digital {
    background-image: url("../img/digital.jpg");
    height: 100%;
}

.pegatina {
    background-image: url("../img/pegatinas.jpg");
}
