
.texto {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    color: inherit;
    margin-bottom: 15px;
}

.negrita {
    font-weight: bold;
}

.titulo-pie {
    width: 80%;
    margin: auto;    
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    color: black;
}

.titulo-pie h3 {
    font-weight: normal;
    margin-bottom: 0;
}
.titulo-pie p {
    font-size: 0.7em;
    margin: 0;
}


.txt_titulo {
    width: 80%;
    margin: auto;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: center;
    /* color: #ff5722; */
    color: black;
}

.txt_titulo h2 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0.5em;
}


.imagen {
    max-width: 100%;
    transition: transform .3s ease-in-out;
}

.imagen:hover {
    transform: scale(1.02);
}

.centrado {
    display: block;
    margin: 2em auto;
    padding: 15px;
}
